@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300');

.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  & {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(35px + 2vmin);
    color: white;
  }
  p {
    font-weight: 300;
    font-family: 'Roboto Mono', monospace;
  }
}

.App-link {
  color: #61dafb;
}

.App-particles {
  & {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  canvas {
    height: 100vmax !important;
  }
}
